.card {
  padding: 50px;
  flex: 1 1 50%;
  display: flex;
  transition: 0.1s;
  background: #fff;
  align-items: center;
  flex-direction: column;

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.15), 0 10px 10px rgba(0, 0, 0, 0.12);
  }
}

.emoji {
  font-size: 5rem;
}

.card h3 {
  color: black;
  font-size: 1.8rem;
}
