.card {
  padding: 50px;
  flex: 1 1 50%;
  display: flex;
  transition: 0.3s;
  background: #fff;
  align-items: center;
  flex-direction: column;
  box-shadow: 3px 3px 18px -11px rgba(0, 0, 0, 0.75);

  &:hover {
    transform: translateY(3px);
    background: #fef7ff;
  }
}

.emoji {
  font-size: 5rem;
}

.card h3 {
  color: black;
  font-size: 1.8rem;
}
